.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-end{
    margin-top: 1rem;
    margin-right: 1rem;
}

.nav-btn{
    font-size: 16px;
}

.logo {
    margin-left: 1rem;
}

.page {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.page.active {
    display: block;
    opacity: 1;
}

button {
    border: none;
    background-color: white;
 }